.p1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.p2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.p3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.i1 {
  padding: 0%;
  margin: 50;
  border-radius: 50px;
  height: 400px;
  width: 400px; }

.i2 {
  padding: 0%;
  margin: 50;
  border-radius: 50px;
  height: 400px;
  width: 400px; }

.i3 {
  padding: 0%;
  margin: 50;
  border-radius: 50px;
  height: 400px;
  width: 400px; }

.i4 {
  padding: 0%;
  margin: 50;
  border-radius: 50px;
  height: 400px;
  width: 400px; }

.i5 {
  padding: 0%;
  margin: 50;
  border-radius: 50px;
  height: 400px;
  width: 400px; }

.pp {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif; }

.pp2 {
  font-family: "Courier New", Courier, monospace;
  font-size: large; }

.pp1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium; }

.pp3 {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
