$test: red;
@mixin flex-column {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
@mixin img {
  padding: 0%;
  margin: 50;
  border-radius: 50px;
  height: 400px;
  width: 400px;
}
.p1 {
  @include flex-column;
}

.p2 {
  @include flex-column;
}
.p3 {
  @include flex-column();
}
.h1 {
  @include flex-column();
}
.h2 {
  @include flex-column();
}
.h3 {
  @include flex-column();
}

.h1 {
  @include flex-column();
}
.i1 {
  @include img();
}
.i2 {
  @include img();
}
.i3 {
  @include img();
}
.i4 {
  @include img();
}
.i5 {
  @include img();
}

.pp {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.pp2 {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
.pp1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
.pp3 {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
