.p1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: aqua; }

.p2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: azure; }

.p3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: blueviolet; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: crimson; }

.h2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.i1 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i2 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i3 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i4 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i5 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.pp {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: firebrick; }

.pp2 {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  color: salmon; }

.pp1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  color: cyan; }

.pp3 {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: pink; }

h1 {
  margin: 20px 0 1.5%; }

p {
  margin: 20px 0 1.5%; }

body {
  color: black; }

.l1 {
  color: blue;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }
  .l1 a {
    font: size 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
